.dnnForumShell{margin-top:8px;border:1px solid #375162;background-color:#A1B3C1;width:830px;}
.dnnForumShell .dnnForumNav{width:180px;margin-top:12px;}
.dnnForumShell .dnnForumNav ul li{list-style-type:none;}
.dnnForumShell #dnnForumContent{background-color:#fff;width:650px;height:600px;padding-top:10px;}

.dnnForumShell .dnnForumNav ul {margin-left:18px;}
.dnnForumShell .dnnForumNav li{font-size:10pt; cursor:pointer;}
.dnnForumShell .dnnForumNav ul li{padding:0;margin:0;margin-bottom:2px;}
.dnnForumShell .dnnForumNav ul div{padding-bottom:2px;padding-left:4px;}
.dnnForumShell .dnnForumNav ul li.selected,.dnnForumShell .dnnForumNav ul li ul li.selected{background-color:#fff;border-top:1px solid #999;border-left:1px solid #999;border-bottom:1px solid #fff;
                            -webkit-border-top-left-radius: 4px;
                            -webkit-border-bottom-left-radius: 4px;
                            -moz-border-radius-topleft: 4px;
                            -moz-border-radius-bottomleft: 4px;
                            border-top-left-radius: 4px;
                            border-bottom-left-radius: 4px;}
.dnnForumShell .dnnForumNav ul li.selected div,
    .dnnForumShell .dnnForumNav ul li ul li.selected div{border-top:1px solid #ccc;border-left:1px solid #ccc;border-bottom:1px solid #f5f5f5;
                                -webkit-border-top-left-radius: 4px;
                                -webkit-border-bottom-left-radius: 4px;
                                -moz-border-radius-topleft: 4px;
                                -moz-border-radius-bottomleft: 4px;
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px;}
.dnnForumShell .dnnForumNav ul li.selected div ul li div{border-style:none;}
.dnnForumShell .dnnForumNav ul li.selected *, .dnnForumShell .dnnForumNav ul li ul li.selected *{color:#375162;}
.dnnForumShell .dnnForumNav ul li *, .dnnForumShell .dnnForumNav ul li ul li *{color:#f5f5f5;}
.dnnForumShell .dnnForumNav ul li ul{display:none;}
.dnnForumShell .dnnForumNav ul li ul li{}
.dnnForumShell .dnnForumNav li.selected ul{display:block;}
.dashOuter{ border: 1px solid #f5f5f5;}
.dashOuterHeader{padding:4px;font-size:12px;border-right: #dcdcdc 1px solid;
	border-top: #dcdcdc 1px solid;
	border-left: #dcdcdc 1px solid;background-image:url(images/dashHeaderBg.gif);}
.dashInner{border: 1px solid #b3b3b3;padding:2px;}
.dashHD{font-size:11px;font-weight:bold;}
.dashInner ul li{list-style-type:none;font-size:11px;}

#dnnForumMsgArea{position:absolute;z-index:10;width:400px;display:none;background-color:#dcdcdc;}
#dnnForumMsgArea div{position:relative;top:-2px;left:-2px;font-weight:bold;line-height:200%;margin:0;padding:5px 10px 6px 40px;background-repeat:no-repeat; background-position:4px center}
#dnnForumMsgArea .positive{background-image:url(images/check_32.png);background-color:#E6EFC2;border:1px solid #C6D880;color:#529214;}
#dnnForumMsgArea .info{background-image:url(images/info_32.png);background-color:#dff4ff;border:1px solid #c2e1ef;color:#336699;}
#dnnForumMsgArea .negative{background-image:url(images/warning_32.png);background-color:#ffffcc;border:1px solid #F5B75F;color:#DF8505;}
#dnnForumMsgArea .warn{background-image:url(images/warning_32.png);background-color:#fbe3e4;border:1px solid #fbc2c4;color:#d12f19;}
#dnnForumMsgArea .loading{background-image:url(images/spinner-lg.gif);background-color:#f5f5f5;border:1px solid #999;color:#000;}

.dnnForumActionArea{position:relative;bottom:0px;margin:0px 16px 0px 16px}
.dnnForumList{padding:10px;}
.dnnForumList ul li 
    {
        list-style-type:none;margin-bottom:6px;margin-right:10px;border:1px solid #ccc;padding:6px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;
        }
.dnnForumList ul li:hover{background-color:#FFC;border:1px solid #999;cursor:pointer;}
.dnnForumArea{display:none;}