/**********************************************************************************************************
 DNN Forum DNN Theme style sheet - Rewritten by Chris Paterra & Rob Poretti - Jan 18 ,2007
 EDIT LOGS:
 Rob Poretti  Apr 12th, 2007
 Chris Paterra Nov 30th, 2008
 Bo Skeel Nov 30th, 2008
**********************************************************************************************************/

/*/////////////////////////// - FORUM UCP AND MENU - \\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*Used for the User Control Panel and menu */
.Forum_MenuItem /* silverheader */
 { 
	width: auto;
	height: 30px;
	background: url('Images/ucp_rootitem.gif') repeat-x; 
	line-height:30px;
	padding: 0px 0px 0px 10px;
	border-bottom: #bdbdbd 1px solid;
	cursor: pointer; 
	display: block;
	position: relative; 
	text-align: left;
 }

.Forum_MenuGroup /* submenu */
 { 
	height: 100px;
	padding: 5px 0px 5px 10px;
	border-bottom: #bdbdbd 1px solid; 
	text-align: left;
 }

.Forum_Menu /* apple menu */
 { 
	width:160px;
	background: #F7F7F7;
	border-left: #bdbdbd 1px solid;
	border-right: #bdbdbd 1px solid; 
 }
 
 .Forum_MenuBreak /*  menu break */
 { 
	color: #bdbdbd; 
 }

.Forum_UCP_Left 
 { 
	width:160px;
	border-top: #bdbdbd 1px solid; 
 }

.Forum_UCP_Right 
 { 
	padding-left:15px;
	padding-right:10px; 
 }

.Forum_UCP_Header
 {			
	background: url('Images/header_bg.gif') repeat;
	border-top: #bdbdbd 1px solid;
	border-left: #bdbdbd 1px solid;
	border-right: #bdbdbd 1px solid;	
	height: 30px;
	padding-left:10px;
	font-weight: bold;
	font-size: 12px;	
	color: #cc0000;
	font-family: Arial;		
	text-align: left;
 }

.Forum_UCP_HeaderInfo 
 { 
	border: #bdbdbd 1px solid;
	background-color: #F7F7F7;
	padding: 4px 4px 4px 4px;
 }
 
 .Forum_UCP_Item 
 { 
	padding: 2px 0px 2px 0px;
 }

/*/////////////////////////// - FORUM VIEW - \\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*Used for the Forum breadcrumb navigation at the top and bottom of each thread and post view table (txt color is not applying here)*/
.Forum_BreadCrumb, A.Forum_BreadCrumb:Link, A.Forum_BreadCrumb:Visited, A.Forum_BreadCrumb:Active, A.Forum_BreadCrumb:Hover
{
	font-family: Arial; 
	font-size: 11px;
	font-weight: bold;	
	color: #403F3F; 
	margin-top:20px;
}

A.Forum_BreadCrumb:Hover
{
	color: #cc0000;
	text-decoration: underline;
}

/*/////////////////////////// - FORUM VIEW - HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* middle header section Handles title colors (Forums, Threads, Posts)*/
.Forum_Header
{			
	background: url('Images/header_bg.gif') repeat;
	border-top: #bdbdbd 1px solid;	
	height: 32px;
	padding-left: 3px;
}

TD.Forum_Header
{
	vertical-align: middle;
	padding-right: 4px;
}

/* Text used in Forum_Header areas */
.Forum_HeaderText, A.Forum_HeaderText:Link, A.Forum_HeaderText:Visited, A.Forum_HeaderText:Active, A.Forum_HeaderText:Hover
{			
	font-weight: bold;
	font-size: 12px;	
	color: #cc0000;
	font-family: Arial;		
}

/* PseudoClasses used in Forum_Header areas */
A.Forum_HeaderText:Link, A.Forum_HeaderText:Visited, A.Forum_HeaderText:Active, A.Forum_HeaderText:Hover
{			
	text-decoration: underline;
}

A.Forum_HeaderText:Hover
{
	color: #ff0000;
}

/* These cap classes handle the left and rigt of colums 1px wide (only in forum admin HEADER area)  Remove all BLOG mentions*/
.Forum_HeaderCapLeft 
{
	background: url('Images/header_cap_left.gif') repeat-y right;
	border-top: #bdbdbd 0px solid;	
	border-left: #bdbdbd 0px solid;	
	width: 1px;
}

/* These cap classes handle the left and rigt of colums (only in forum admin header area)*/
.Forum_HeaderCapRight
{
	background: url('Images/header_cap_right.gif') repeat-y left;	
	border-top: #bdbdbd 0px solid;	
	border-right: #bdbdbd 0px solid;
	width: 1px;
}

/* Handles initial view, groups, left area next to +/- and stats headers (left) */
.Forum_AltHeaderCapLeft
{
	border-left: #bdbdbd 1px solid;
	border-top: #bdbdbd 1px solid;
	background: url('Images/header_bg.gif') repeat;	
}

/* Handles initial view, groups, left area next to +/- and stats headers (right) */
.Forum_AltHeaderCapRight
{
	border-right: #bdbdbd 1px solid;	
	border-top: #bdbdbd 1px solid;
	background: url('Images/header_bg.gif') repeat;
}

/* Handles Group name hearder section, statistics header section  also header in whats new scroller */
.Forum_AltHeader
{	
	background: url('Images/header_bg.gif') repeat;
	border-top: #bdbdbd 1px solid;
}

/* Forum Groups.  Overrides most section head controls.  Text for Forum Settings, User Settings */
.Forum_AltHeaderText, A.Forum_AltHeaderText:Link, A.Forum_AltHeaderText:Visited, A.Forum_AltHeaderText:Active, A.Forum_AltHeaderText:Hover 
{
	font-weight: bold;
	font-size: 8pt;
	color: #cc0000;			
	font-family: Arial; 
}

A.Forum_AltHeaderText:Hover {
	color: #ff0000;			
	text-decoration: underline;
}

/* Handles Group name hearder middle to right, no text here */
.Forum_AltHeaderRight
{
	background: url('Images/alt_header_bg.gif') repeat-x top;		
}
/* Class for identified words in search results */
.Forum_Markup  
{
	background-color: Yellow;
}


/*/////////////////////////// = GROUP & FORUM VIEW - FOOTER = \\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* where paging, arrows are in posts */
.Forum_Footer 
{
	background: url('Images/footer_bg.gif') repeat-x top;	
	border-top: #bdbdbd 1px solid;	
	border-bottom: #bdbdbd 1px solid;	
	border-left: #bdbdbd 0px solid;		
	border-right: #bdbdbd 0px solid;	
	text-align: left;
	height:32px;
	padding-left: 2px;
}

/* These cap classes handle the left and rigt of colums (only in /forum admin header area)*/
.Forum_FooterCapLeft
{
	background: url('Images/header_cap_left.gif') repeat-y right;
	border-top: #bdbdbd 0px solid;	
	border-left: #bdbdbd 0px solid;
	width: 1px;
}

/* These cap classes handle the left and rigt of colums (only in forum admin header area)*/
.Forum_FooterCapRight
{
	background: url('Images/header_cap_right.gif') repeat-y  left;
	border-top: #bdbdbd 0px solid;	
	border-right: #bdbdbd 0px solid;
	width: 1px;
}

/* Text items used in footers,  seen in User Manager */
.Forum_FooterText, A.Forum_FooterText:Link, A.Forum_FooterText:Visited, A.Forum_FooterText:Active  
{
	font-weight: bold;
	font-size: 8pt;	
	color: #cc0000;
	font-family: Arial;
}

/* Used specifically for paging links */
A.Forum_FooterText
{
	font-weight: normal;
	font-size: 8pt;	
	color: #cc0000;
	font-family: Arial;
}

/* Used specifically for paging links */
A.Forum_FooterText:Hover 
{
	color: #cc0000;
	text-decoration: underline;
}

/* Used specifically for paging links */
.Forum_FooterDisabled
{
	font-weight: normal;
	font-size: 8pt;	
	color: #403F3F;
	font-family: Arial;
}

/*/////////////////////////// = GROUP & FORUM VIEW - ODD/EVEN ROWS = \\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.Forum_SubForumContainer
{
	border: #bdbdbd 1px solid;
	width:98%;
	background: #f8f8f8;
	padding: 3px 3px 3px 3px;
	font-size: 10px;
	font-family: Arial;
	color: #000000;
}

A.Forum_SubForumLink:Link, A.Forum_SubForumLink:Visited
{
	font-size: 10px;
	font-family: Arial;
	color: #000000;
	text-decoration:none;
}

A.Forum_SubForumLink:Active, A.Forum_SubForumLink:Hover
{
	font-size: 10px;
	font-family: Arial;
	color: #cc0000;
	text-decoration:underline;
}

/* Subject/Name Column in group, threads views */
.Forum_Row
{
	background-color: #E9E9E9; 
	border-top: #bdbdbd 1px solid;	
	border-left: #bdbdbd 1px solid;	
}

/* Subject/Name Column in group, threads views (odd) */
.Forum_Row_Alt
{
	background-color: #F0F0F0; 
	border-top: #bdbdbd 1px solid;	
	border-left: #bdbdbd 1px solid;	
}

/* Threads Column in initial group view (even numbered)*/
.Forum_RowHighlight1
{			
	background-color: #DEDEDE;
	border-left: 1px solid #bdbdbd;
	border-top: #bdbdbd 1px solid;	
}

/* Threads Column in initial group view (odd numbered)*/
.Forum_RowHighlight1_Alt
{		
	background-color: #E9E9E9;
	border-left: solid 1px #bdbdbd;
	border-top: #bdbdbd 1px solid;	
}

/* Posts Column in initial group view */
.Forum_RowHighlight2
{			
	background-color: #DEDEDE;
	border-left: solid 1px #bdbdbd;
	border-top: #bdbdbd 1px solid;	
}

/* Posts Column in initial group view (odd)*/
.Forum_RowHighlight2_Alt
{		
	background-color: #E9E9E9;
	border-left: solid 1px #bdbdbd;
	border-top: #bdbdbd 1px solid;	
}

/* Last Post Column */
.Forum_RowHighlight3
{			
	background-color: #DEDEDE;
	border-left: solid 1px #bdbdbd;
	border-top: #bdbdbd 1px solid;	
	border-right: #bdbdbd 1px solid;	
	padding-right: 3px;
}

/* Last Post Column - Alternate (odd)*/
.Forum_RowHighlight3_Alt
{		
	background-color: #E9E9E9;
	border-left: solid 1px #bdbdbd;
	border-top: #bdbdbd 1px solid;
	border-right: #bdbdbd 1px solid;	
	padding-right: 3px;
}

/*/////////////////////////// = THREAD VIEW = \\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* avatar area (ODD numbered rows) */
.Forum_Avatar_Alt
{
	background-color: #EBEBEB; 
	border-right: #bdbdbd 1px solid;	
	border-left: #bdbdbd 1px solid;	
	border-top: #bdbdbd 1px solid;	
	padding: 5px 15px 10px 15px;
}

/* Area in eqach post where subject is - (top part) (ODD numbered rows) */
.Forum_PostDetails_Alt
{		
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #EBEBEB; 
	border-top: #bdbdbd 1px solid;	
}

/* Area where mod/reply buttons are (below POST VIEW details) - (ODD numbered rows) */
.Forum_PostButtons_Alt
{
	background-color: #EBEBEB; 
	border-bottom: 1px solid #bdbdbd;
}

/* Post content area - (ODD numbered rows) */
.Forum_PostBody_Alt
{
	background-color: #F6F6F6; 
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Post View avatar area (EVEN numbered rows) */
.Forum_Avatar
{
	background-color: #F7F7F7; 
	border-right: #bdbdbd 1px solid;	
	border-left: #bdbdbd 1px solid;	
	border-top: #bdbdbd 1px solid;	
	padding: 5px 15px 10px 15px;
}

/* Table that holds Author information (name, rank, joined, posts, etc.) */
.Forum_PostAuthorTable
{
	text-align:left;	
}
/* Post content area (this is post details, post buttons, post body, attachments containing cell) */
.Forum_PostBody_Container
{
	background-color: #FCFCFC; 
	border-right: #bdbdbd 1px solid;	
}

.Forum_PostBody_Container_Alt
{
	background-color: #F6F6F6; 
	border-right: #bdbdbd 1px solid;	
}

/* Area in each post where subject is (top part) in posts view* (EVEN numbered rows)*/
.Forum_PostDetails
{	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #F7F7F7; 
	border-top: #bdbdbd 1px solid;	
}

/* Area where mod/reply buttons are (below post details) (EVEN numbered rows) */
.Forum_PostButtons
{
	border-bottom: 1px solid #bdbdbd;
	background-color: #F7F7F7; 
}

/* Post content area POST VIEW (EVEN numbered rows) */
.Forum_PostBody
{
	background-color: #FCFCFC; 
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Seperator row. Also uses spacer-height.gif to determin sapce in between each post in thread View*/
.Forum_SpacerRow
{
	border-top: #bdbdbd 1px solid;	
}

/*/////////////////////////// = SPLIT-THREAD VIEW = \\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* avatar area in thread split, soon posts moderate (all rows) */
.Forum_AvatarBox
{
	background-color: #F7F7F7; 
	border-right: #bdbdbd 1px solid;	
	padding: 5px;
}
/* area in each post where subject is (top part) in THREAD split view only - no posting buttons here (post moderate soon) */
.Forum_PostDetailsBox
{	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #F7F7F7; 
}

/* Area where mod/reply buttons are/ include in new THREAD in Thread Split */
.Forum_PostButtonsBox
{
	background-color: #F7F7F7; 
	border-bottom: 1px solid #bdbdbd;
}

/* Area of post content in thread split */
.Forum_PostBodyBox
{
	background-color: #FCFCFC; 
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Area in Thread Split used to enclose entire post datalist are in border cContains entire admin section in one cell */
.Forum_Row_AdminBox
{
	border-top: #bdbdbd 1px solid;	
	border-left: #bdbdbd 1px solid;
	border-right: #bdbdbd 1px solid;	
	border-bottom: #bdbdbd 1px solid;	
}

/*/////////////////////////// - ADMIN CLASSES - \\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* Used for all data rows like in configuration, profile, almost all ascx's (Admin, editable stuff) */
.Forum_Row_Admin
{
	background-color: #F7F7F7; 
	border-top: #bdbdbd 1px solid;	
	border-left: #bdbdbd 1px solid;
	border-right: #bdbdbd 1px solid;	
	padding-left: 4px;
	padding-right: 4px;
}

.Forum_Row_Admin_Foot 
{
	border-top: #bdbdbd 1px solid;	
	text-align:center;
	padding-top:10px;
}

/* Used for all data rows where there is no section head (+/-'s) Or datalist/datagrid, Gallery & Smiles, Filtered Words, Rankings, User Settings, Search (Admin, editable stuff) */
.Forum_Row_AdminL
{
	background-color: #F7F7F7; 
	border-top: #bdbdbd 1px solid;	
	border-left: #bdbdbd 1px solid;
	/* Moved from .Forum_Row_AdminText */
	font-size: 7pt;	
	color: #666666;
	font-family: Arial;		
	text-align: left;
	padding: 1px 1px 1px 4px;
}

/* Used for all data rows where there is no section head (+/-'s) Or datalist/datagrid,, Gallery & Smiles, Filtered Words, Rankings, 
User Settings, Search  (Admin, editable stuff) */
.Forum_Row_AdminR
{
	 background-color: #F7F7F7; 
	 border-top: #bdbdbd 1px solid;	
	 border-right: #bdbdbd 1px solid;	
	 padding: 1px 4px 1px 1px;
}

.Forum_Row_AdminM
{
	 background-color: #F7F7F7; 
	 border-top: #bdbdbd 1px solid;	
	 padding: 1px 1px 1px 4px;
}

/* Text for dnn labels, grid values */
.Forum_Row_AdminText
{
	font-size: 7pt;	
	color: #666666;
	font-family: Arial;		
}

/* Small div 'popup' element, used in ACP_Emoticons to preview images */
.Forum_EmoticonPreview
{
	position:absolute;
	left:100px;
	border:solid 2px #bdbdbd;
	text-align: center;
	vertical-align: middle;
	padding: 25px 25px 25px 25px;
	background-color: #FCFCFC;
}

/*  Emoticon POPUP window (Show All)    */
.d_drag { cursor:move, wait; background: url(images/spacer.gif);z-index:99999;}
.d_tl { height:35px;width:7px; background: url(images/top-left.png) no-repeat } /* Top Left */
.d_tr { height:35px;width:40px; background: url(images/top-right.png) no-repeat } /* Top Right */
.d_tm { height:35px;width:237px; background: url(images/top-mid.png) repeat-x; } /* Top Middle */
.d_t { padding-left: 2px;color:White;font-size:14px;font-family:tahoma;font-weight:bold; } /* Title */
.d_ico { cursor:pointer; } /* Close Button */
.d_l { background-image:url(images/left.png);width:7px;cursor:default; } /* Left */
.d_r { background-image:url(images/right.png);width:7px;cursor:default; } /* Right */
.d_c { width: 270px; background-color:#F7F7F7;cursor:default; } /* Dialog Center Area */
.d_ct { font-size:11px;font-family:tahoma;padding-top:10px;padding-left:10px;padding-bottom:10px;padding-right:10px; }
.d_bl { height:7px;width:7px; background: url(images/bottom-left.png) } /* Bottom Left */
.d_br { height:7px;width:9px; background: url(images/bottom-right.png) } /* Bottom Right */
.d_b { width:268px;background: url(images/bottom-mid.png) repeat-x;cursor:default; } /* Bottom Middle */

/*/////////////////////////// - MISC CLASSES - \\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* Used in forum search results(my posts icon area), in moderator sections */
.Forum_RowHeader
{
	background-color: #F7F7F7;		
}

/* Attachment area at bottom of post view. */
.Forum_Attachments
{
	background-color: Silver;
	border: 1px dashed #cc0000;	
}

/* Attachment area at bottom of post view. */
.Forum_Attachments_Alt
{
	background-color: Silver;
	border: 1px dashed #cc0000;	
}

/* TextBoxes (This is only for the lookup control created by module) NEED FONT HERE*/
.Forum_ListCell
{
	background-color: White;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal; 
	border: 1px solid Black;
}

/* How the quote reply section looks in post view (div) */
.Quote
{
	border-top: #cc0000  1px dotted;
	border-left: #cc0000  1px dotted;
	border-bottom: 1px dotted #cc0000;	
	border-right: #cc0000  1px dotted;
	font-size: 10px;	
	background-color: #F1F1F1;
	font-family: Arial;
	padding: 4px;
	margin-bottom: 10px;
}

/* <em> is used in the new quote version */
em { font-weight: bold; }
/* Thread subject in each individual post, next to move, edit, reply buttons, forum description, forum threads, posts count, Views replies count */
.Forum_Normal, A.Forum_Normal:Link, A.Forum_Normal:Visited, A.Forum_Normal:Active, A.Forum_Normal:Hover
{
     font-size: 12px;
	font-family: Arial;
	color: #403F3F;
}

A.Forum_Normal:Hover
{
	text-decoration: underline;
	color: #cc0000;
}

.Forum_NormalSmall, A.Forum_NormalSmall:Link, A.Forum_NormalSmall:Visited, A.Forum_NormalSmall:Active, A.Forum_NormalSmall:Hover
{
	font-size: 10px;
	font-family: Arial;
	color: #403F3F;
}

A.Forum_NormalSmall:Hover
{
	text-decoration: underline;
	color: #cc0000;
}

.Forum_TreeNormal
{
	font-size: 12px;
	font-family: Arial;
	color: #403F3F;
	vertical-align: middle;
	padding-left: 5px;
}

/* All textboxes, dropdownlists and checkbox labels */
.Forum_NormalTextBox
{
     font-size: 10px;
	font-family: Arial;
	color: #000000;
}

.Forum_GroupDetails
{
     font-size: 10px;
	font-family: Arial;
	color: #000000;
}

.Forum_Posts
{
     font-size: 11px;
	font-family: Arial;
	color: #000000;
}

.Forum_Threads
{
     font-size: 11px;
	font-family: Arial;
	color: #000000;
}

.Forum_LastPostText
{
     font-size: 11px;
	font-family: Arial;
	color: #403F3F;
		padding-right: 2px;
}

/* Links used in style above areas */
A.Forum_LastPostText, A.Forum_LastPostText:Link, A.Forum_LastPostText:Visited    
{
	color: #403F3F;
}

A.Forum_LastPostText:Hover
{
	color: #cc0000;
	text-decoration: underline;
}

A.Forum_AliasLink, A.Forum_AliasLink:Link, A.Forum_AliasLink:Visited    
{
     font-size: 10px;
	font-family: Arial;
	color: #403F3F;
}

A.Forum_AliasLink:Hover
{
	color: #cc0000;
	text-decoration: underline;
}

/* Links used in style above areas */
.Forum_NormalBold, A.Forum_NormalBold:Link, A.Forum_NormalBold:Visited, A.Forum_NormalBold:Active, A.Forum_NormalBold:Hover
{
     font-size: 12px;
     font-weight: bold;
	font-family: Arial;
	color: #403F3F;
}

A.Forum_NormalBold:Hover
{
	color: #cc0000;
}

.Forum_TreeNormalBold
{
	font-size: 12px;
     font-weight: bold;
	font-family: Arial;
	color: #403F3F;
	vertical-align: middle;
		padding-left: 5px;
}

.NormalGrey
{
	font-size: 11px;
	font-weight: normal;
	color: #003366;
}

/*Table cells which reply, move, edit, etc. buttons sit in */
.Forum_ReplyCell
{
	 background: url('Images/header_bg.gif') repeat;
	 border-left: 1px solid #CDCDCD;
	 border-right: 1px solid #CDCDCD;
	 border-top: 1px solid #CDCDCD;
	 border-bottom: 1px solid #CDCDCD;
	 padding-top: 2px;
	 padding-bottom: 2px;
	 padding-left: 10px;
	 padding-right: 10px;
}

/* This is for the reply, moderate, new thread, move, delete, quote  LINK buttons (only modify link properties here, use reply cell for containing td)
This is also the links used in the module actions, new thread, moderate buttons */
.Forum_Link, A.Forum_Link:Link, A.Forum_Link:Visited, TD.Active, A.Forum_Link:Hover
{
     text-align: center;    
     font-family: Arial; 
     font-size: 11px;
     font-weight: bold;     
	color: #403F3F  
}

A.Forum_Link:Hover
{
	color: #cc0000;  
	text-decoration: underline;
}

.Forum_Tab_Left
{
	background-color: #F7F7F7; 
	border-top: #bdbdbd 1px solid;
	border-left: #bdbdbd 1px solid;	
	border-right: #bdbdbd 1px solid;	
	padding: 4px;	
}

.Forum_Tab
{
	background-color: #F7F7F7; 
	border-top: #bdbdbd 1px solid;
	border-right: #bdbdbd 1px solid;	
	padding: 4px;	
}

.Forum_Tab_Right
{
	background-color: #F7F7F7; 
	border-top: #bdbdbd 1px solid;
	border-right: #bdbdbd 1px solid;	
	padding: 4px;
}

/*Profile link, used above posts avatar area (user alias) */
.Forum_Profile, A.Forum_Profile:Link, A.Forum_Profile:Visited, A.Forum_Profile:Active, A.Forum_Profile:Hover
{
	font-family: Arial; 
	font-size: 11px;
	font-weight: normal;  
	color: #403F3F;
	font-weight: bold;
}

A.Forum_Profile:Hover
{
	color: #cc0000;
	text-decoration: underline;
}

/* used for previous/next in posts view */
.Forum_NavBarButton
  {
	 padding-top: 2px;
	 padding-bottom: 2px;
	 padding-left: 3px;
	 padding-right: 3px;
	 border-left: 1px solid #CDCDCD;
	 border-right: 1px solid #CDCDCD;
	 border-top: 1px solid #CDCDCD;
	 border-bottom: 1px solid #CDCDCD;
	 background: url('Images/header_bg.gif') repeat;
 }
 
 /* used for previous/next in posts view */
.Forum_NavBarButtonDisabled
  {
	 padding-top: 2px;
	 padding-bottom: 2px;
	 padding-left: 3px;
	 padding-right: 3px;
	 border-left: 1px solid #CDCDCD;
	 border-right: 1px solid #CDCDCD;
	 border-top: 1px solid #CDCDCD;
	 border-bottom: 1px solid #CDCDCD;
	 background-color: #B9B9B9;
 }
 
 /* Previous/Next Box Enabled Links (Sub-classed) - Posts View  */
.Forum_NavBarButton A.Forum_Link:Link, .Forum_NavBarButton A.Forum_Link:Visited, .Forum_NavBarButton A.Forum_Link:Active, .Forum_NavBarButton A.Forum_Link:Hover
{
	text-align: center;    
	font-family: Arial; 
	font-size: 11px;
	font-weight: bold;     
	color: #666666  
}
.Forum_NavBarButton A.Forum_Link:Hover
{
	color: #ff0000;  
}

/* Previous/Next Box Disabled Text (Sub-classed) - Posts View  */
.Forum_NavBarButtonDisabled .Forum_NormalBold
{
	color: #dddddd;
}

/*/////////////////////////// - DNNTEXTSUGGEST CLASSES - \\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* This is the TextBox field attributes. (txtForumUserSuggest.DefaultNodeCssClass) */
.Forum_Suggest_DefaultNode
{

}

.Forum_Suggest
{
	font-family: Arial; 
	font-size: 11px;
	font-weight: bold;
	color: #666666;  
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #F7F7F7; 
	Margin-Top: -1px;
}

/* Forum_Suggest_DefaultChildNode  */
.Forum_Suggest_DefaultChildNode
{
	font-family: Arial; 
	font-size: 11px;
	font-weight: bold;
	color: #666666;  
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #FFFFFF;
}

/* .txtForumUserSuggest.DefaultNodeCssClassOver  */
.Forum_Suggest_DefaultNodeOver
  {
	font-family: Arial; 
	font-size: 11px;
	font-weight: bold;
	color: #CC0000;  
	background-color: #F7F7F7;
  }

/* .txtForumUserSuggest.DefaultNodeCssClassSelected  */
.Forum_Suggest_DefaultNodeUnSelected
  {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #00ff00;
  }

/*/////////////////////////// = FORUM ACTION ICONS - TOOLBAR = \\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* Only seen if option is disabled to show icons for toolbar */
.Forum_ToolbarLink, A.Forum_ToolbarLink:Link, A.Forum_ToolbarLink:Visited, TD.Active, A.Forum_ToolbarLink:Hover
{
   	text-align: center;    
   	font-family: Arial; 
   	font-size: 10px;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
	color: #403F3F;
}

A.Forum_ToolbarLink:Hover
{
	color: #cc0000;  
	text-decoration: underline;
}

 /* Action icons moderator, admin, inbox, memberlist, my settings, my posts, search, forum home */
A.Forum_ib_admin:link, A.Forum_ib_admin:visited, A.Forum_ib_admin:active, A.Forum_ib_admin:hover
 {
	background-image: url(images/ib_admin.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 0px;
	height: 35px;
	width: 35px;
 }
 
A.Forum_ib_admin:hover
 {
 	background-image: url(images/ib_admin_hover.png);
 }
 
A.Forum_ib_moderate:link, A.Forum_ib_moderate:visited, A.Forum_ib_moderate:active, A.Forum_ib_moderate:hover
 {
	background-image: url(images/ib_moderate.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 0px;
	height: 35px;
	width: 35px;
 }
 
A.Forum_ib_moderate:hover
 {
 	background-image: url(images/ib_moderate_hover.png);
 }
 
A.Forum_ib_Inbox:link, A.Forum_ib_Inbox:visited, A.Forum_ib_Inbox:active, A.Forum_ib_Inbox:hover
 {
	background-image: url(images/ib_inbox.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 0px;
	height: 35px;
	width: 35px;
 }
 
A.Forum_ib_Inbox:hover
 {
 	background-image: url(images/ib_inbox_hover.png);
 }
 
 A.Forum_ib_Inbox_New:link, A.Forum_ib_Inbox_New:visited, A.Forum_ib_Inbox_New:active 
 {
	background-image: url(images/ib_inbox_new.gif);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 0px;
	height: 35px;
	width: 35px;
 }
 
 A.Forum_ib_Inbox_New:hover
 {
 	background-image: url(images/ib_inbox_hover.png);
 }
 
A.Forum_ib_memberlist:link, A.Forum_ib_memberlist:visited, A.Forum_ib_memberlist:active, A.Forum_ib_memberlist:hover
 {
	background-image: url(images/ib_memberlist.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 0px;
	height: 35px;
	width: 35px;
 }
 
A.Forum_ib_memberlist:hover
 {
 	background-image: url(images/ib_memberlist_hover.png);
 }
 
A.Forum_ib_mysettings:link, A.Forum_ib_mysettings:visited, A.Forum_ib_mysettings:active, A.Forum_ib_mysettings:hover
 {
	background-image: url(images/ib_mysettings.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 0px;
	height: 35px;
	width: 35px;
 }
 
A.Forum_ib_mysettings:hover
 {
 	background-image: url(images/ib_mysettings_hover.png);
 }
 
A.Forum_ib_myposts:link, A.Forum_ib_myposts:visited, A.Forum_ib_myposts:active, A.Forum_ib_myposts:hover
 {
	background-image: url(images/ib_myposts.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 0px;
	height: 35px;
	width: 35px;
 }
 
A.Forum_ib_myposts:hover
 {
 	background-image: url(images/ib_myposts_hover.png);
 }
 
A.Forum_ib_mythreads:link, A.Forum_ib_mythreads:visited, A.Forum_ib_mythreads:active, A.Forum_ib_mythreads:hover
 {
	background-image: url(images/ib_mythreads.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 0px;
	height: 35px;
	width: 35px;
 }
 
A.Forum_ib_mythreads:hover
 {
 	background-image: url(images/ib_mythreads_hover.png);
 }
 
A.Forum_ib_search:link, A.Forum_ib_search:visited, A.Forum_ib_search:active, A.Forum_ib_search:hover
 {
	background-image: url(images/ib_search.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 0px;
	height: 35px;
	width: 35px;
 }
 
A.Forum_ib_search:hover
 {
 	background-image: url(images/ib_search_hover.png);
 }
 
A.Forum_ib_forumhome:link, A.Forum_ib_forumhome:visited, A.Forum_ib_forumhome:active, A.Forum_ib_forumhome:hover
 {
	background-image: url(images/ib_forumhome.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 0px;
	height: 35px;
	width: 35px;
 }
 
A.Forum_ib_forumhome:hover
 {
 	background-image: url(images/ib_forumhome_hover.png);
 }

A.Forum_ib_aggregate:link, A.Forum_ib_aggregate:visited, A.Forum_ib_aggregate:active, A.Forum_ib_aggregate:hover
 {
	background-image: url(images/ib_aggregate.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 0px;
	height: 35px;
	width: 35px;
 }
 
A.Forum_ib_aggregate:hover
 {
 	background-image: url(images/ib_aggregate_hover.png);
 }
 
/*/////////////////////////// - OVER-RIDING SUB-CLASSES - \\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* Text used in Forum_Header areas for Admin areas - OVER-RIDE for Search in Admin Pages like MemberList*/
.Forum_Row_Admin .Forum_HeaderText
{			
	color: #000000;
	text-align: center;    
	font-family: Arial; 
	font-size: 11px;
	font-weight: bold;     
}

/* used to OVER-RIDE FCK FTB Editor radiobox backgrounds to be transparent */
#tblEditContent .NormalTextBox 
{			
	background-color: transparent;
}

/* To OVER-RIDE for FCK FTB Editor Radio check box transparent - Admin Page, */
.Forum_Row_AdminR .normaltextbox
{
	background-color: transparent;
}

/* Attempting to OVER-RIDE  FCK FTB Editor text box backgroun from transparent to WHITE - HTML Body Admin Page, */
.NormalTextBox .normal
{			
	background-color: white;
	color: red;
}

/* OVER-RIDE  Datagrid BG Color - HTML Body Admin Page, */
.Forum_Row_Admin .DataGrid_Item, .Forum_Row_Admin .DataGrid_AlternatingItem, .Forum_Row_Admin .DataGrid_Footer
{
	background-color: transparent;
}

/* Sub-class to OVER-RIDE  Footer links */
.Forum_FooterText A.Forum_Link:Link, .Forum_FooterText A.Forum_Link:Visited, .Forum_FooterText A.Forum_Link:Active, .Forum_FooterText A.Forum_Link:Hover
{
	text-align: center;    
	font-family: Arial; 
	font-size: 11px;
	font-weight: bold;     
	color: #403F3F;
}

.Forum_FooterText A.Forum_Link:Hover
{
	color: #CC0000;  
}

.Forum_Grid
{
	border-left: 1px solid #bdbdbd;
	border-right: 1px solid #bdbdbd;
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
}

.Forum_Grid TD
{
	border-top: 1px solid #bdbdbd;
}

.Forum_Grid_Header
{			
	background: url('Images/header_bg.gif') repeat;
	height: 30px;
	color: #cc0000;
}

.Forum_Grid_Header TD
{
	font-family: Arial;
	color: #cc0000;
	font-weight: bold;
	font-size: 12px;
}

.Forum_Grid_Row
{
	background-color: #E9E9E9; 
	font-size: 12px;
	font-family: Arial;
	color: #403F3F;	
}

/* Subject/Name Column in group, threads views (odd) */
.Forum_Grid_Row_Alt
{
	background-color: #F0F0F0; 
	font-size: 12px;
	font-family: Arial;
	color: #403F3F;	
}

/* Used in grid ascx files (PM_Inbox/UCP_Bookmark/ probably UCP_Tracking) */
.Forum_Grid_Left
{
	border-right: 1px solid #bdbdbd;
	padding: 4px;
	text-align: left;
}

/* Used in grid ascx files (PM_Inbox, outbox, reported posts, ) */
.Forum_Grid_Middle
{
	border-right: 1px solid #bdbdbd;
	text-align: center;
}

.Forum_Grid_Right
{
	padding-right: 4px;
	text-align: right;
}

.PagerContainerTable
{
	border-right: #bdbdbd 1px solid;
	border-left: #bdbdbd 1px solid;
	border-bottom: #bdbdbd 1px solid;
	width: 100%;
	background: url('Images/footer_bg.gif') repeat-x top;	
	height: 30px;
	font-size: 12px;
	font-family: Arial;
}

.PagerInfoCell
{
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 3px;
	padding-top: 3px;
	font-weight: bold;
	color: #cc0000;
	text-align: left;
}

.PagerCurrentPageCell
{
	color: #bdbdbd;
	width: 15px;
	font-weight: normal;
}

.PagerOtherPageCells
{
	color: #403F3F;
	width: 15px;
	padding-right: 4px;
}

.PagerSSCCells
{

}

.PagerHyperlinkStyle
{
	font-weight: bold;
	color: #403F3F;
}

.PagerHyperlinkStyle:link, A.PagerHyperlinkStyle:Visited, A.PagerHyperlinkStyle:Active
{
	color: #403F3F;
}
.PagerHyperlinkStyle:hover
{
	color: #cc0000;
	text-decoration: underline;
}

.Forum_IconTd
{
     text-align: center; /* this one is only for IE and a legacy doctype */        
}
        
.Forum_Icons
{        
	display: table;        
	margin: auto;        
}
        
.Forum_IconsCol
{        
	display: table-row;    
}               

.Forum_Icons a 
{        
	display: table-cell;        
}